DISCORD_CHANNEL=
DISCORD_TOKEN=


## CASINO CREDENTIALS

# Casino Login Information Format: CASINO_NAME=CASINO1_USERNAME:CASINO1_PASSWORD,CASINO2_USERNAME:CASINO2_PASSWORD

ROLLING_RICHES=

JEFEBET=

CHANCED=

SPINPALS=

NOLIMITCOINS=

GLOBAL_POKER=

DINGDINGDING=

SPORTZINO=

ZULA=

CHUMBA=

ICASINO=

YAYCASINO=

MODO=

CROWNCOINS=

LUCKYBIRD=

LUCKYLAND=

REALPRIZE=

DARACASINO=

#Google auth required for Stake and Fortune Coins. All social login + 2FA for Stake in development.
#GOOGLE_LOGIN=username:password


GOOGLE_LOGIN=

STAKE=

FORTUNECOINS=